:root {
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

.smol-css-grid {
  display: grid;
  grid-gap: var(--gap);
  /* min() with 100% prevents overflow
  in extra narrow spaces */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.smol-flexbox-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--gap);
}

.smol-flexbox-grid > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 var(--min);
          flex: 1 1 var(--min);
}

.smol-centering {
  display: grid;
  place-content: center;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 5s linear infinite;
          animation: rotating 5s linear infinite;
}

@-webkit-keyframes fading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  color: #555555;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Infant", serif;
}

h1 {
  font-size: calc(4rem + (1vw - 0.32rem) * 3.75);
  min-height: 0vw;
  line-height: 1.1;
  letter-spacing: 0.01em;
  font-weight: 700;
}
@media (min-width: 1400px) {
  h1 {
    font-size: 10rem;
  }
}

h3 {
  display: block;
  margin-block: 2rem 1rem;
  color: #292e36;
  font-size: 4.5rem;
  line-height: 1.4;
  font-weight: 700;
}

p {
  font-size: calc(1.7rem + (1vw - 0.32rem) * 0.125);
  min-height: 0vw;
  line-height: 1.5;
}
@media (min-width: 1400px) {
  p {
    font-size: 2rem;
  }
}

.container {
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 2rem;
}
@media screen and (min-width: 479px) {
  .container {
    padding-inline: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1400px;
    padding-inline: 4rem;
  }
}

.w-layout-grid {
  display: grid;
  grid-auto-columns: 1fr;
}

header {
  background-color: #292e36;
  -webkit-padding-before: 0;
          padding-block-start: 0;
  position: relative;
  -webkit-padding-after: 84px;
          padding-block-end: 84px;
  z-index: 9999;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-block: 2rem;
}
@media screen and (min-width: 991px) {
  .header-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.brand {
  padding-block: 1rem;
}
@media screen and (max-width: 767px) {
  .brand {
    -webkit-padding-start: 1rem;
            padding-inline-start: 1rem;
  }
}

.header-bottom {
  -webkit-border-before: 1px solid #5c6168;
          border-block-start: 1px solid #5c6168;
  -webkit-border-after: 1px solid #5c6168;
          border-block-end: 1px solid #5c6168;
  background-color: #292e36;
  position: absolute;
  width: 100%;
  -webkit-transition: top 0.4s ease;
  transition: top 0.4s ease;
  /* Dodan prijelaz za top vrednost */
}
.header-bottom.header-bottom--sticky {
  position: fixed;
  top: 0;
  -webkit-animation: fadeIn 0.4s ease;
          animation: fadeIn 0.4s ease;
  /* Dodana animacija za prelaz */
}
.header-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-block: 0.5rem;
}

.navbar-toggler {
  display: block;
  background-color: #ffffff;
  color: #292e36;
  padding: 2.2rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
}
@media screen and (min-width: 992px) {
  .navbar-toggler {
    display: none;
  }
}

.social-icons a {
  color: #ffffff;
  font-size: 2.5rem;
  padding-inline: 0.8rem;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
.social-icons a:hover {
  color: #e1b168;
}
.social-icons a:last-child {
  -webkit-padding-end: 0.1rem;
          padding-inline-end: 0.1rem;
}

.mainNav {
  display: none;
}
@media screen and (min-width: 992px) {
  .mainNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    padding-block: 0.5rem;
    top: 0;
    background-color: transparent;
  }
  .mainNav::after {
    content: none;
  }
  .mainNav a {
    padding: 2rem 3rem;
    color: #ffffff;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }
  .mainNav a:hover {
    color: #e1b168;
  }
  .mainNav a.active {
    color: #e1b168;
  }
  .mainNav a:first-child {
    -webkit-padding-start: 0.1rem;
            padding-inline-start: 0.1rem;
  }
}

.mainNav.active {
  display: block;
  position: absolute;
  padding-block: 1rem 2rem;
  -webkit-padding-start: 1rem;
          padding-inline-start: 1rem;
  top: 100%;
  left: 0;
  min-width: 28rem;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.96);
  border-end-start-radius: 0.8rem;
  border-end-end-radius: 0.8rem;
  -webkit-animation: fading 0.4s ease-in;
          animation: fading 0.4s ease-in;
}
.mainNav.active a {
  display: block;
  padding: 1rem 2rem;
  color: #ffffff;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.mainNav.active a:hover {
  color: #e1b168;
}
.mainNav.active a.active {
  color: #e1b168;
}

.open {
  display: block;
}

.sub-menu {
  -webkit-padding-start: 2rem;
          padding-inline-start: 2rem;
  position: relative;
  color: #ffffff;
  cursor: pointer;
}
.sub-menu .subNav {
  display: none;
}
.sub-menu .pages-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-block: 1rem;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.sub-menu .pages-link i {
  font-size: 1.5rem;
  -webkit-padding-end: 2rem;
          padding-inline-end: 2rem;
}
@media screen and (min-width: 992px) {
  .sub-menu .pages-link {
    padding-block: 2rem;
  }
  .sub-menu .pages-link:hover {
    color: #e1b168;
  }
  .sub-menu .pages-link i {
    -webkit-padding-start: 1rem;
            padding-inline-start: 1rem;
  }
}

.btn {
  display: inline-block;
  border: 2px solid #e1b168;
  border-radius: 0;
  text-align: center;
  margin-block: 1rem;
  padding: 1.8rem 5.5rem;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  font-size: 2rem;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .btn {
    min-width: 25rem;
  }
}

.btn.btn-transparent {
  background-color: transparent;
  color: #ffffff;
}
.btn.btn-transparent:hover {
  background-color: #e1b168;
  color: #292e36;
}

.btn.btn-full {
  background-color: #e1b168;
  color: #292e36;
}
.btn.btn-full:hover {
  background-color: transparent;
  color: #ffffff;
}

.btn.btn-transparent.btn-gold {
  color: #e1b168;
}
.btn.btn-transparent.btn-gold:hover {
  color: #292e36;
}

.hero {
  background-color: #292e36;
  -webkit-padding-before: 4rem;
          padding-block-start: 4rem;
  display: block;
  color: #ffffff;
}
.hero .row {
  display: block;
}
@media screen and (min-width: 992px) {
  .hero .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-template-rows: auto;
    justify-items: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-column-gap: 5rem;
  }
}

.hero-content {
  text-align: center;
}
.hero-content h1 {
  margin-block: 1rem;
}
.hero-content p {
  padding-block: 0.5rem 3rem;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}
.hero-content .btn-gold {
  color: #e1b168;
  margin-block: 0;
}
.hero-content .btn-gold:hover {
  background-color: #e1b168;
  color: #292e36;
}
@media screen and (min-width: 992px) {
  .hero-content {
    text-align: left;
  }
}

.hero-img {
  -webkit-margin-before: 2rem;
          margin-block-start: 2rem;
}
.hero-img img {
  border-style: solid solid none;
  border-width: 30px;
  border-color: hsla(0, 0%, 100%, 0.1);
  border-top-left-radius: 62.8rem;
  border-top-right-radius: 62.8rem;
}
@media screen and (min-width: 992px) {
  .hero-img {
    -webkit-margin-before: 0;
            margin-block-start: 0;
  }
}

.detail {
  padding-block: 6rem 4rem;
  background-color: #fff8f5;
}
@media screen and (min-width: 767px) {
  .detail {
    padding-block: 8rem 4rem;
  }
}
@media screen and (min-width: 1400px) {
  .detail {
    padding-block: 10rem 4rem;
  }
}
.detail .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (min-width: 991px) {
  .detail .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.detail-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}
.detail-wrap:nth-child(2) {
  padding-block: 1.6rem;
}
@media screen and (min-width: 991px) {
  .detail-wrap:nth-child(2) {
    padding-block: 0;
  }
}
.detail-img {
  width: 8.3rem;
  height: 8.3rem;
  min-width: 8.3rem;
  min-height: 8.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #292e36;
  border-radius: 10rem;
}
.detail-content {
  -webkit-margin-start: 0.5rem;
          margin-inline-start: 0.5rem;
}
@media screen and (min-width: 768px) {
  .detail-content {
    -webkit-margin-start: 2rem;
            margin-inline-start: 2rem;
  }
}
.detail-content h2 {
  font-size: 3rem;
  letter-spacing: 0.02rem;
  font-weight: 700;
}
.detail-content p {
  font-size: calc(1.7rem + (1vw - 0.2rem) * 0.2778);
  min-height: 0vw;
}
.detail-content p a {
  color: #555555;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.detail-content p a:hover, .detail-content p a:active {
  color: #e1b168;
}
@media (min-width: 1400px) {
  .detail-content p {
    font-size: 2rem;
  }
}

.story-section {
  padding-block: 4rem 10rem;
  background-color: #fff8f5;
}
@media screen and (max-width: 991px) {
  .story-section {
    padding-block: 4rem;
  }
}
@media screen and (max-width: 479px) {
  .story-section {
    -webkit-padding-before: 2rem;
            padding-block-start: 2rem;
  }
}

.story-wrap {
  display: block;
}

.story-grid {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 4.5rem;
  grid-row-gap: 1.6rem;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: auto;
}
@media screen and (max-width: 1280px) {
  .story-grid {
    grid-template-columns: 1.3fr;
  }
}
@media screen and (max-width: 991px) {
  .story-grid {
    display: block;
  }
}

.story-img-wrap {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}

.story-img {
  width: 100%;
}

@media screen and (max-width: 1280px) {
  img.story-img {
    width: 639px;
  }
}
.story-content-wrap {
  width: 100%;
}
@media screen and (max-width: 1280px) {
  .story-content-wrap {
    width: 50%;
  }
}
@media screen and (max-width: 991px) {
  .story-content-wrap {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .story-content-wrap {
    width: 100%;
  }
}

.story-year {
  font-size: 4rem;
}

.story-year + p {
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}

.story-year-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 991px) {
  .story-year-item-wrap {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (max-width: 767px) {
  .story-year-item-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.story-year-item {
  width: 48%;
  text-align: left;
  border-right: 1px none #000;
}
.story-year-item:nth-child(2) {
  -ms-flex-item-align: start;
      align-self: start;
}
@media screen and (max-width: 767px) {
  .story-year-item {
    width: 100%;
  }
}

.about-us-sign-wrap {
  margin-block: 1.5rem 5rem;
}
@media screen and (max-width: 991px) {
  .about-us-sign-wrap {
    -webkit-margin-after: 2rem;
            margin-block-end: 2rem;
  }
}
.about-us-sign-wrap p {
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}
.about-us-sign-wrap .sign-image {
  -webkit-padding-before: 1rem;
          padding-block-start: 1rem;
}

.home-menu-section {
  padding-block: 12rem 14rem;
  background-color: #ffffff;
}

.home-menu-grid {
  grid-column-gap: 5rem;
  grid-row-gap: 1.6rem;
  grid-template-columns: 0.6fr 1fr;
  grid-template-rows: auto;
}

.home-menu-title-wrap,
.home-menu-item {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}

.home-menu-title-area {
  position: sticky;
  left: 0%;
  top: 20%;
  right: 0%;
  bottom: auto;
  display: inline-block;
}

.section-title-wrap {
  -webkit-padding-after: 1rem;
          padding-block-end: 1rem;
}

.section-title-wrap.section-title-left {
  text-align: left;
}

.section-subtitle-wrap {
  display: inline-block;
  border-block: 1px solid #e1b168;
}

.section-subtitle {
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-padding-before: 0.5rem;
          padding-block-start: 0.5rem;
  color: #292e36;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.2em;
  line-height: 1.5;
  text-transform: uppercase;
}

.home-menu-image {
  -webkit-margin-before: 30px;
          margin-block-start: 30px;
}

.home-menu-button-wrap {
  -webkit-padding-before: 60px;
          padding-block-start: 60px;
}

.menu-item-wrap {
  -webkit-padding-after: 1rem;
          padding-block-end: 1rem;
}

.menu-title-wrap {
  -webkit-padding-after: 3rem;
          padding-block-end: 3rem;
}
.menu-title-wrap h4 {
  font-size: 3.6rem;
  -webkit-margin-before: 1.5rem;
          margin-block-start: 1.5rem;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
  color: #292e36;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-margin-after: 5rem;
          margin-block-end: 5rem;
}

.menu-name-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item-image {
  border-radius: 100px;
}

.menu-item-detail {
  -webkit-margin-start: 2rem;
          margin-inline-start: 2rem;
}

.menu-item-name {
  margin-block: 0;
  font-size: 3rem;
  color: #292e36;
}

.menu-description {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

p.menu-description {
  color: #555555;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.menu-dot-line {
  height: 5rem;
  margin-inline: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 2px dashed #aaa;
}

.menu-item-price {
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-size: 3rem;
}

h4.menu-item-price {
  -webkit-margin-before: 1.5rem;
          margin-block-start: 1.5rem;
  color: #292e36;
  line-height: 1.4;
}/*# sourceMappingURL=style.css.map */