*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  color: #555555;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Infant", serif;
}

h1 {
  font-size: calc(4rem + (1vw - 0.32rem) * 3.75);
  min-height: 0vw;
  line-height: 1.1;
  letter-spacing: 0.2px;
}
@media (min-width: 1920px) {
  h1 {
    font-size: 10rem;
  }
}

p {
  font-size: calc(1.8rem + (1vw - 0.32rem) * 0.125);
  min-height: 0vw;
}
@media (min-width: 1920px) {
  p {
    font-size: 2rem;
  }
}

.container {
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 2rem;
}
@media screen and (min-width: 479px) {
  .container {
    padding-inline: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1400px;
    padding-inline: 4rem;
  }
}

header {
  background-color: #2a2f37;
}

.header-top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-block: 2rem;
}
@media screen and (min-width: 991px) {
  .header-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.btn {
  display: inline-block;
  border: 2px solid #e1b168;
  border-radius: 0;
  text-align: center;
  margin-block: 1rem;
  padding: 1.8rem 5.5rem;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  font-size: 2rem;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .btn {
    min-width: 25rem;
  }
}

.btn.btn-transparent {
  background-color: transparent;
  color: #ffffff;
}
.btn.btn-transparent:hover {
  background-color: #e1b168;
  color: #2a2f37;
}

.btn.btn-full {
  background-color: #e1b168;
  color: #2a2f37;
}
.btn.btn-full:hover {
  background-color: transparent;
  color: #ffffff;
}

.brand {
  padding-block: 1rem;
}
@media screen and (max-width: 767px) {
  .brand {
    -webkit-padding-start: 1rem;
            padding-inline-start: 1rem;
  }
}

.header-bottom {
  -webkit-border-before: 1px solid #5c6168;
          border-block-start: 1px solid #5c6168;
  -webkit-border-after: 1px solid #5c6168;
          border-block-end: 1px solid #5c6168;
}
.header-bottom .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-block: 0.5rem;
}

.navbar-toggler {
  display: block;
  background-color: #ffffff;
  color: #2a2f37;
  padding: 2.2rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
}
@media screen and (min-width: 992px) {
  .navbar-toggler {
    display: none;
  }
}

.social-icons a {
  color: #ffffff;
  font-size: 2.5rem;
  padding-inline: 0.8rem;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
.social-icons a:hover {
  color: #e1b168;
}
.social-icons a:last-child {
  -webkit-padding-end: 0.1rem;
          padding-inline-end: 0.1rem;
}

.mainNav {
  display: none;
  position: absolute;
  padding-block: 1rem 2rem;
  -webkit-padding-start: 1rem;
          padding-inline-start: 1rem;
  top: 100%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  min-width: 28rem;
  font-size: 2rem;
}
.mainNav::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #555;
  inset: 0;
  z-index: -100;
  border-end-start-radius: 0.8rem;
  border-end-end-radius: 0.8rem;
}
.mainNav a {
  display: block;
  padding: 1rem 2rem;
  color: #ffffff;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.mainNav a:hover {
  color: #e1b168;
}
.mainNav a.active {
  color: #e1b168;
}
@media screen and (min-width: 992px) {
  .mainNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    padding-block: 0.5rem;
    top: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .mainNav::after {
    content: none;
  }
  .mainNav a {
    padding: 2rem 3rem;
  }
  .mainNav a:first-child {
    -webkit-padding-start: 0.1rem;
            padding-inline-start: 0.1rem;
  }
}

.sub-menu {
  -webkit-padding-start: 2rem;
          padding-inline-start: 2rem;
  position: relative;
  color: #ffffff;
  cursor: pointer;
}
.sub-menu .pages-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-block: 1rem;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.sub-menu .pages-link i {
  font-size: 1.5rem;
  -webkit-padding-end: 2rem;
          padding-inline-end: 2rem;
}
@media screen and (min-width: 992px) {
  .sub-menu .pages-link {
    padding-block: 2rem;
  }
  .sub-menu .pages-link:hover {
    color: #e1b168;
  }
  .sub-menu .pages-link i {
    -webkit-padding-start: 1rem;
            padding-inline-start: 1rem;
  }
}

.subNav {
  display: none;
}

.hero {
  background-color: #2a2f37;
  height: 100vh;
}/*# sourceMappingURL=style.css.map */