.story-section {
  padding-block: 4rem 10rem;
  background-color: $light-gray-bg;

  @media screen and (max-width: 991px) {
    padding-block: 4rem;
  }

  @media screen and (max-width: 479px) {
    padding-block-start: 2rem;
  }
}

.story-wrap {
  display: block;
}

.story-grid {
  align-items: center;
  grid-column-gap: 4.5rem;
  grid-row-gap: 1.6rem;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: auto;

  @media screen and (max-width: 1280px) {
    grid-template-columns: 1.3fr;
  }

  @media screen and (max-width: 991px) {
    display: block;
  }
}

.story-img-wrap {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}

.story-img {
  width: 100%;
}

@media screen and (max-width: 1280px) {
  img.story-img {
    width: 639px;
  }
}

.story-content-wrap {
  width: 100%;

  @media screen and (max-width: 1280px) {
    width: 50%;
  }

  @media screen and (max-width: 991px) {
    width: 80%;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.story-year {
  font-size: 4rem;
}

.story-year + p {
  margin-block-end: 1rem;
}

.story-year-item-wrap {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 991px) {
    justify-content: flex-start;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.story-year-item {
  width: 48%;
  text-align: left;
  border-right: 1px none #000;

  &:nth-child(2) {
    align-self: start;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.about-us-sign-wrap {
  margin-block: 1.5rem 5rem;

  @media screen and (max-width: 991px) {
    margin-block-end: 2rem;
  }

  p {
    margin-block-end: 1rem;
  }

  .sign-image {
    padding-block-start: 1rem;
  }
}