.testSwiper {
  overflow: visible;
}

.swiper-wraper {
  width: 100vw;
}

.testimonial-slider-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 35%;
}

.testimonial-section {
  padding-block: 14rem 12rem;
  background-color: $primary;
  overflow: hidden;
}

.section-title-wrap.section-title-left {
  text-align: left;
}

.section-title-wrap {
  padding-block-end: 1rem;
}

.section-subtitle.subtitle-white {
  color: $white;
}

.section-subtitle {
  margin-block-end: 0;
  padding-block-start: .5rem;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.section-title.title-white {
  color: $white;
  text-transform: capitalize;
}

.section-title-content {
  color: $white;
}

.section-title {
  margin-block-start: 1rem;
  margin-block-end: .8rem;
  font-size: 4rem;
  line-height: 1.4;
  font-weight: 700;
}

.section-title-content {
  margin-block-end: 1rem;
  letter-spacing: 0.01em;
}

.testimonial-content-area {
  margin-block-start: 2rem;
}

.testimonial-slider-item {
  padding: 4rem;
  background-color: $secondary;
}

.testimonial-author-wrap {
  position: relative;
  display: flex;
  margin-block-end: 3rem;
  padding-block-end: 3rem;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #797e89;
}

.testimonial-image {
  border-radius: 10rem;
}

.testimonial-quote-wrap {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: flex;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border: 2px solid $primary;
  border-radius: 10rem;
  background-color: $yellow;
}

.testimonial-author-content {
  margin-inline-start: 3rem;
}

.testimonial-client-name {
  margin-block: 0;
  color: $white;
  font-size: 3rem;
  line-height: 1.4;
  font-weight: 700;
}

.testimonial-client-job {
  margin-block-end: 0px;
  color: $yellow;
}

.testimonial-content {
  font-family: 'Cormorant Infant', sans-serif;
  font-size: 2.3rem;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.01em;
  color: $white;
  margin-block-end: 1rem;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $white;
}