$header-ff: 'Cormorant Infant',
serif;

$body-ff: 'Josefin Sans',
sans-serif;


// background colors
$dark-bg-100: #2a2f37;
$dark-bg-200: #2a2f37f2;
$dark-bg-300: #343942;
$dark-slate500: #000000a6;
$header-border-clr: #5c6168;
$yellow-bg: #e1b168;
$white-bg-200: #fff8f5;
$white-slate400: rgba(255, 255, 255, 0.4);

// text colors
$text-clr: #555555;

$yellow: #e1b168;

$white-100: #ffffff;
$black-100: #000000;
$black-200: #292e36;

$transition: 0.4s ease;