$header-ff: 'Cormorant Infant',
serif;

$body-ff: 'Josefin Sans',
sans-serif;


// colors
$primary: #292E36;
$secondary: #343942;
$dark-slate500: #000000a6;
$header-border-clr: #5c6168;
$black-100: #000000;

$text-clr: #555555;

$yellow: #e1b168;

$white-100: #ffffff;
$white-bg-200: #fff8f5;
$white-slate400: rgba(255, 255, 255, 0.4);

$transition: 0.4s ease;