$header-ff: 'Cormorant Infant',
serif;

$body-ff: 'Josefin Sans',
sans-serif;


// colors
$primary: #292e36;
$secondary: #343942;
$dark-slate-500: #000000a6;
$header-border-clr: #5c6168;
$black: #000000;

$text-clr: #555555;

$yellow: #e1b168;

$white: #ffffff;
$light-gray-bg: #fff8f5;
$white-slate-400: rgba(255, 255, 255, 0.4);

$transition: 0.4s ease;